*{
    font-family: Arial;
}

body{
    padding-left: 60px;
    padding-right: 60px;
}
.stats-section{
    display: flex;
    justify-content: center;
}

.wrap{
    padding-left: 25px;
    padding-right: 25px;
    font-size: 45px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.span{
    text-decoration: under;
}

.fahrzeug-wrap{
    display: flex;
    justify-content: space-between;
}

.footer{
    padding-left: 0;
    display: flex;
    justify-content: space-between;
}
